<div class="container mt-5">
  <h1>to do list</h1>
<!--  <label>task name</label>-->
<!--<input class="form-control mb-3"  (input)="sendTaskName($event)">-->
  <label>two-way</label>
<input class="form-control mb-3"  [(ngModel)]="taskName">
  <button class="btn btn-success"
          [disabled]="!allowedAddNewTask"
          [class.btn-danger]="!allowedAddNewTask"
          (click)="addTask($event)"
  >add task</button>
  <h1>{{changeEvent}}</h1>
  <h1 [class.hide]="!showNewTask">{{'' + taskName}}</h1>
  <h1 >{{twoWayBinding}}</h1>
  <app-to-do-list-item></app-to-do-list-item>
  <app-to-do-list-item></app-to-do-list-item>
  <app-to-do-list-item></app-to-do-list-item>
  <app-to-do-list-item></app-to-do-list-item>

</div>
